
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    font-weight: normal;
    font-size: 15px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
  }

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

span{
    color: #e52421;
}

header.rolagem{
    background-color: white;
}

header.rolagem ul a{
    color: #e52421;

}

ul a:hover{
    color: #e52421;

}

.cabecalho{
    background-color: transparent;
    width: 100%;
    height: 60px 4%;
    color: transparent;
    display: flex;
    align-items: center;
}

.cabecalho .logo, .contato,.itens{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo{
    font-family: 'poppins';
    cursor: default;
    background-image: url(image/logo_branca_sem_fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
}

header.rolagem .logo{
    background-image: url(image/logo.png);
}

.itens ul, a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    transition: color .3s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.contato-btn{
    border: none;
    outline: none;
    background-color: #e52421;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.banner{
    height: 100vh;
    background-image: url(image/imagemfundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.banner_texto{
    display: flexbox;
    justify-content: center;
    color: white;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    left: 100px;
}

.banner_texto h1{
    font-size: 50px;
}

.banner_texto p{
    font-size: 25px;

}

.banner_texto strong{
    font-size: 30px;
}

.video_fan{
    background-image: url(image/fundo_video.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e52421;
    height: 600px;
}

.form_fundo{
    background-color: white;
    width: 400px;
    height: 500px;
    top: 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo{
    width: 400px;
    height: 500px;
}

.submit {
    border: none;
    outline: none;
    background-color: #e52421;
    padding: 9px 20px;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
  
.coleta_dados{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}

  .galeria_empresas{
    display: flex;
    align-items: center;
    margin: 0 auto;

}

.postos{
    background-image: url(image/fan_card.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 90px;
    max-width: 100%/6;
    height: 150px;
}

.distribuidora{
    background-image: url(image/fan_distribuidora.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    max-width: 100%/6;
    height: 150px;
}

.capital{
    background-image: url(image/fan_capital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    max-width: 100%/6;
    height: 150px;
}

.card{
    background-image: url(image/fan_usibras.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    max-width: 100%/6;
    height: 150px;
}

.usibras{
    background-image: url(image/fan_usibras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    max-width: 100%/6;
    height: 150px;
}

.construcoes{
    background-image: url(image/fan_construcoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    max-height: 100%/6;
    height: 150px;
}

.galeria_titulo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.galeria_titulo h1{
    font-size: 30px;
}

.galeria_titulo p{
    font-size: 20px;

}

.galeria_titulo p{
    color: black;
}

.galeria_informativo{
    background-color: red;
    height: 600px;
}

.galeria_titulo strong{
    font-size: 30px;
}


.cards{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin: 0 auto;
    justify-content: center;
    background-color: aliceblue;
    max-width: 70%;
}

.cards p{
    color: black;
}

.figure{
    background-color: blue;
    text-align: center;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #302c2c;
    height: 100px;
}
