body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: blueviolet;
    width: 100%;
    height: 70px;
    color: aliceblue;
    display: flex;
    align-items: center;
}
.navbar .logo, .contato,.itens{
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.logo{
    font-family: 'poppins';
    font-size: px;
    cursor: default;
}

.itens li, a{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    transition: color .3s;
    
}

.itens, li a:hover{
    color: rgb(224, 12, 189);
}

.contato-btn{
    border: none;
    outline: none;
    background-color: rgb(85, 194, 194);
    color: white;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 15px;
    transition: background .3s;
}

.contato-btn:hover{
    background-color: rgb(224, 12, 189);
}



