body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
   
  }

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: 600;
}

span{
    color: #e52421;
    font-weight: 600;
}

header.rolagem{
    background-color: white;
}

header.rolagem ul a{
    color: #e52421;

}

ul a:hover{
    color: #e52421;

}

.cabecalho{
    background-color: transparent;
    width: 100%;
    height: 60px 4%;
    color: transparent;
    display: flex;
    justify-content: space-around;
}

.cabecalho .logo, .contato,.itens{
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.logo{
    font-family: 'poppins';
    cursor: default;
    background-image: url(image/logo_branca_sem_fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
}

header.rolagem .logo{
    background-image: url(image/logo.png);
}

.itens ul, a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    margin: 10px;
    transition: color .3s;
    font-family: Arial, Helvetica, sans-serif;
    
}

.contato-btn{
    border: none;
    outline: none;
    background-color: #e52421;
    padding: 9px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.banner{
    height: 100vh;
    background-image: url(image/imagemfundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    color: white;
    
   
}

.banner_texto{
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 180px;
    margin-bottom: 90px;
}

.banner_texto h1{
    font-size: 50px;
}

.banner_texto p{
    font-size: 25px;

}

.banner_texto strong{
    font-size: 30px;
}

.video_fan{
    background-image: url(image/fundo_video.jpg);
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e52421;
    height: 600px;
}

.form_fundo{
    background-color: white;
    width: 400px;
    height: 500px;
    top: 50px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
}

.conteudo{
    width: 400px;
    height: 500px;
}

.submit {
    background-color: #302c2c;
    border: none;
    padding: 9px 20px;
    font-size: 15px;
    width: 340px;
    color: white;
    cursor: pointer;
}
  
.coleta_dados{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
}

.empresas_galeria{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    max-width: 100%;
    height: 400px;
}

.empresas_galeria p{
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100px;
    text-align: center;
}

.postos{
    background-image: url(image/fan_postos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.postos p{
    position: relative;
    bottom: -180px;
    left: 80px;
}

.distribuidora{
    background-image: url(image/fan_distribuidora.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.distribuidora p{
    position: relative;
    top: 70px;
    left: 20px;
}

.capital{
    background-image: url(image/fan_capital.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.capital p{
    position: relative;
    bottom: -300px;
    left: 30px;
}

.cartao{
    background-image: url(image/fan_card.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cartao p{
    position: relative;
    bottom: -250px;
    left: 70px;
}

.usibras{
    background-image: url(image/fan_usibras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.usibras p{
    position: relative;
    bottom: -170px;
    left: 150px;
}

.construcoes{
    background-image: url(image/fan_construcoes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.construcoes p{
    position: relative;
    bottom: -120px;
    left: 100px;
}

.informativo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;   
    background-color: aliceblue;
    height: 800px;
}

.galeria_titulo p{
    font-size: 30px;
    color: #e52421;
    font-weight: 500;

}

.galeria_titulo strong{
    color: black;
}

.cards{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
}

.figure{
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    height: 310px;
}

.cards p{
    color: black;
    font-weight: 500;
}


.cards a{
    background-color: #e52421;
    padding: 9px 100px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.cards a:hover{
    background-color: #bb1f1c;
    transition: 0.3s;
}

.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #302c2c;
}
