/*Principal*/
    body{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

/*Header*/
    header{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: 1s;
    }

    header.rolagem{
        background-color: white;
    }

    header.rolagem .logo{
        background-image: url(image/logo.png);
    }

    header.rolagem ul a{
        color: #e52421;

    }

    ul a:hover{
        color: #e52421;

    }

    .cabecalho{
        background-color: transparent;
        width: 100%;
        height: 60px 4%;
        color: transparent;
        display: flex;
        justify-content: space-around;
    }

    .cabecalho .logo, .contato,.itens{
        width: 100%;
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }

    .logo{
        font-family: 'poppins';
        cursor: default;
        background-image: url(image/logo_branca_sem_fundo.png);
        background-position: center;
        background-repeat: no-repeat;
        transition: 1s;
    }



    .itens ul, a{
        color: white;
        font-size: 16px;
        text-decoration: none;
        list-style: none;
        margin: 10px;
        transition: color .3s;
    }

/*Banner Principal*/
    .banner{
        height: 100vh;
        background-image: url(image/imagemfundo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        display: flex;
        color: white;
    }

    .banner_texto{
        display: flexbox;
        justify-content: flex-end;
        align-items: center;
        margin-top: auto;
        margin-left: 180px;
        margin-bottom: 90px;
    }

    .banner_texto h1{
        font-size: 50px;
    }

    .banner_texto p{
        font-size: 25px;

    }

    .banner_texto strong{
        font-size: 30px;
    }

/*Formulário*/
    .form{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #e52421;
    }

    .form h2{
        margin: 0;
    }

    .form p{
        font-size: 15px;
        color: #302c2c;
    }

    .form span{
        font-weight: 600;
        font-size: 15px;
    }

    .container{
        display: flex;
        margin: 20px;
        max-width: 370px;
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        text-align: left;
    }

    .inputs_principais{
        margin-bottom: 10px;

    }

    .coleta_dados{
        padding: 8px;
        margin: 2px;
        width: 330px;
    }

    .checks {
        margin-top: 5px;
        margin-bottom: 5px;
       
    }

    .termos{
        margin-bottom: 10px;
    }

    .submit{
        background-color: #302c2c;
        color: white;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        width: 100%;
        cursor: pointer;
    }

/*Video*/

    .video_fan{
        background-image: url(image/fundo_video.jpg);
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px;
    }

    .video_fan::before{
        content: url(image/borda1.png);
        position: relative;
        top: -300px;
        right: -60px;
    }

    .video_fan::after{
        content: url(image/borda2.png);
        position: relative;
        bottom: -50px;
        right: 60px;
    }

/*Galeria*/

    
    .empresas_galeria{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        max-width: 100%;
        height: 450px;
        border: none;
    }

    .empresas_galeria p{
        font-weight: 700;
        padding: 5px;
        font-size: 15px;
        background-color: rgb(255, 255, 255);
        color: black;
        width: 100px;
        text-align: center;
    }

    .empresas_galeria span{
        color: #e52421;
        font-weight: 700;
    }

    .empresas_galeria .postos{
        background-image: url(image/fan_postos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .empresas_galeria .postos p{
        position: relative;
        bottom: -240px;
        left: 80px;
    }

    .empresas_galeria .distribuidora{
        background-image: url(image/fan_distribuidora.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .empresas_galeria .distribuidora p{
        position: relative;
        top: 50px;
        left: 20px;
    }

    .empresas_galeria .capital{
        background-image: url(image/fan_capital.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .empresas_galeria .capital p{
        position: relative;
        bottom: -300px;
        left: 30px;
    }

    .empresas_galeria .cartao{
        background-image: url(image/fan_card.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .empresas_galeria .cartao p{
        position: relative;
        bottom: -250px;
        left: 70px;
    }

    .empresas_galeria .usibras{
        background-image: url(image/fan_usibras.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .empresas_galeria .usibras p{
        position: relative;
        bottom: -170px;
        left: 150px;
        color: #e52421;
    }

    .empresas_galeria .construcoes{
        background-image: url(image/fan_construcoes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .empresas_galeria .construcoes p{
        position: relative;
        bottom: -120px;
        left: 100px;
    }

/*Informativo*/
    .informativo{
        text-align: center;
        background-color: rgb(231, 239, 245);
        border: none;
    }

    .galeria_titulo h3{
        font-size: 30px;
        color: #e52421;
        font-weight: 500;
        margin: 0px;
        padding: 20px;

    }

    .galeria_titulo strong{
        color: black;
    }

    .cards{
        display: grid;
        grid-template-columns: 300px 300px 300px ;
        justify-content: center;

        background-color: rgb(231, 239, 245);
        max-width: 100%;
    }

    .figure{
        display: flexbox;
        text-align: start;
        background-color: white;
        border-radius: 0px 20px 0px 20px;
        margin: 10px;
    }

    .caption p{
        color: black;
        font-weight: 500;
    }


    .cards a{
        background-color: transparent;
        color: #e52421;
        border: 1px solid #e52421;
        padding: 10px 55px;
        text-align: center;
        margin: 0;
        border-radius: 5px;
    }

    .cards a:hover{
        background-color: #e52421;
        color: white;
        transition: 0.3s;
    }
/*Footer*/
    .rodape{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #302c2c;
    }
